* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
}
p {
    padding: 0;
    margin: 0;
}

a {
   color:rgb(247, 201, 0) !important;
    text-decoration: none;
}
p, h1, h3, h4, h5, h6 {
    color: rgb(0, 0, 0);
}
.row>* {
     padding-right: 0 !important; 
     padding-left: 0 !important;
     
}
.row {
     --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0; 
}
.container-fluid {
    padding-right: var(--bs-gutter-x, 0) !important;
    padding-left: var(--bs-gutter-x, 0) !important;
}
.about-1 {
    width: 100%;
    height: 60vh;
    display: flex;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: flex; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; Add a pointer on hover */
  }

#preloader{
    background: #fff url(/assets/images/gif-/preloader1.gif) no-repeat center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.nav-list {
    margin-left: 50%;
    margin-right: 0 !important;
}
.nav-list a {
    font-size: 25px;
    z-index: 999;
}
.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-toggler-icon {
    background-color: rgb(247, 201, 0);
    z-index: 999;
}
.navbar-nav {
    text-align: center;
}
.home {
    background: url(../images/international-gallery-04.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin-bottom: 20px;
}
.home-text {
    padding: 15% 30%;
    text-align: center;
}
.home-text h1 {
    padding-bottom: 30px;
    color: gold;
}
.home-text p {
    font-size: 28px;
    font-weight: 200;
}
#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #f4c613;
}
.navbar-brand  img{
    width: 300px;
    height: 4rem;
}
.nav-list {
    margin: 0;
}
.turkiye {
    color: #f7cf30;
}
.image-about-1 {
    width: 100%;
    height: 60vh !important;
}
.universite-text {
   background: url(../images/international-gallery-05.jpeg) no-repeat center;
   background-size: cover;
   background-attachment: fixed; 
   height: 100%;
}
.universite-text h1 {
    color: #66f413 !important;
    line-height: 100px;
}
.text-about-1 {
    margin-right: 0px;
    text-align: center;
}
.text-about-1 h1 {
    padding-top: 20px;
    padding-bottom: 50px;
}
.text-about-1 p {
    margin-right: 10px;
    color: #222;
    padding: 0 20px;
    background-color: rgb(233, 221, 207);
}
.about-2 {
    background-color: rgb(219, 214, 214);
}
.about-right-2 {
    height: 50vh;
    padding-top: 10%;
    background: url(../images/international-gallery-03.jpeg);
}
.univercity-section {
    display: block;
    width: 100%;
    height: 70vh;
}
.first-univercity {
    background: url(../images/Suu-early-college-logo.JPG) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.second-univercity {
    background: url(../images/suu-logo-5-seal-1.jpg) no-repeat center;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}
.third-univercity {
    background: url(../images/4bvd68.png) no-repeat center;
    background-size: cover;
    background-attachment:fixed;
}
.footer {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/Southern_Utah_University_2.jpg) no-repeat center;
    background-size: cover;
    background-attachment: scroll;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    width: 100%;
    height: 100%;
    display: none;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
  }
  .univercity {
      width: 100%;
      height: 50vh;
  }
  .iletisim {
      margin: 10px 0;
  }


@media only screen and (max-width: 991px) {
    .home-text {
        padding: 20%;
        text-align: center;
    }
    .home-text h1 {
        padding-bottom: 10px;
        color: gold;
    }
    .home-text p {
        font-size: 35px;
        font-weight: 200;
    }
    .navbar-brand  img{
        width: 150px;
        margin-right: 0 !important;
        padding: 0;
        height: 4rem;
    }
    .footer {
        display: block;
        width: 100%;
        height: 60vh;
        background: url(../images/Southern_Utah_University_2.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }
    
}
@media only screen and (max-width: 768px) {
    .universite-text h1 {
        position: relative;
        font-size: 20px;
        color: #66f413 !important;
        line-height: 70px;
        text-align: center;
        padding: 0 auto;
    }
}
@media only screen and (max-width: 600px) {
    .home-text p {
        font-size: 25px;
        font-weight: 200;
    }
    .home-text h1 {
        padding-top: 30px;
        color: gold;
    }
    
} 
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem !important;
    }
}
@media (min-width: 435px ){
    .footer p {
        color: #ccc;
        font-size: 13px;
    }
}

@media (max-width: 320px ) {
    .footer p {
        color: #ccc;
        font-size: 10px;
    }
    .home-text h1 {
        padding-bottom: 20px;
        color: gold;
    }
    .home-text p {
        font-size: 10px;
        font-weight: 200;
    }
}

